  {# <div class="row text-white" id="front">

    <div class="d-none d-sm-block col-12 text-center p-5 display-4">
      <h1>Votre plateforme communautaire de snowboarding</h1>
    </div>
    <div class="d-block d-sm-none col-12 text-center p-5">
      <h1>Votre plateforme communautaire de snowboarding</h1>
    </div>

    <div class="d-none d-sm-block col-12 text-center p-2">
      <i class="fas fa-snowboarding fa-5x"> </i>
    </div>
     <div class="d-block d-sm-none col-12 text-center p-4">
      <i class="fas fa-snowboarding fa-4x"> </i>
    </div>

    <div class="d-none d-sm-block col-12 text-center p-2">
      <h1 class="title-font display-1">Snowtricks</h1>
    </div>
    <div class="d-block d-sm-none col-12 text-center p-2">
      <h1 class="title-font display-3">Snowtricks</h1>
    </div>

    <div class="d-none d-sm-block col-12 text-right p-5">
      <a href="#cardTrick"><i class="fas fa-arrow-down fa-5x"></i> </a>
    </div>
     <div class="d-block d-sm-none col-12 text-right p-5">
      <a href="#cardTrick"><i class="fas fa-arrow-down fa-3x"></i> </a>
    </div>
  </div> #}


<div class="front"></div>