<div class="container-fluid mt-auto pDisplay" >
	<div class="d-block d-md-none">
		<div class="row justify-content-around">
			<div class="col-">
				<a href="{{ path('front_index') }}" class="btn btn-primary">
					<i class="fas fa-home"></i>
				</a>
			</div>
			<div class="col-">
				<a href="{{ path('trick_new') }}" class="btn btn-primary">
					<i class="fas fa-bookmark"></i>
				</a>
			</div>
			<div class="col-">
				{% if app.user %}
					<a href="{{ path('app_logout') }}" class="btn btn-primary">
						<i class="fas fa-sign-out-alt"></i>
					</a>
				{% else %}
					<a href="{{ path('app_login') }}" class="btn btn-primary">
						<i class="fas fa-sign-in-alt"></i>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="d-none d-md-block">
		<div class="row">
			<div class="col-12 shadow bg-secondary text-white">
				<p>@copyright Aurélien Regi</p>
			</div>
		</div>
	</div>
</div>

