
/* font */
h1 {
  font-family: "Quicksand", sans-serif;
}

.title-font {
  font-family: "Do Hyeon", sans-serif;
}

.nav-link {
  font-family: "Oxygen", sans-serif;
}
/* font */

/* navbar */
.navbar {
  background-color: #e5e8e8;
  padding: 1%;
}
/* navbar */

/* footer */
#footerS{
  margin-top: 0;
  margin-bottom: 0rem;
  height: 5rem;
}
/* footer */


#headerFront{
  height: 90vh
}

.flex-padding{
  width: 100%;
}

.positionHeader{
  width: 100%;
  height: 90%;
  position: absolute;
  z-index: -1;
}


/* front */

.card {
  width: 18rem;
}
/* front */

.card-img-top{
width: 100%;
height: 10rem;
object-fit: f;
}





/* show */
#headerShow{ 
  height: 50vh;
}


/* show */

/* image profile */
.commentProfile {
  width: 50px;
  height: auto;
}
/* image profile */

