h1{
  font-family: 'Quicksand', sans-serif;
}

.title-font{
  font-family: 'Do Hyeon', sans-serif;
}

.nav-link{
  font-family: 'Oxygen', sans-serif;
}

.navbar
{
  background-color:  	#00008B;
  padding: 3%;

}

#front{
  background-color:#1abc9c;
}
