/* font */
h1{
  font-family: 'Quicksand', sans-serif;
}

.title-font{
  font-family: 'Do Hyeon', sans-serif;
}

.nav-link{
  font-family: 'Oxygen', sans-serif;
}
/* font */

/* navbar */
.navbar
{
  background-color: #E5E8E8;
  padding: 3%;

}
/* front */

/* image front */
#front{
 height: 100vh;
}

.bg{
  min-width: 100%;
  height: 90%;
  position: absolute;
  z-index: -1;
}
/* image front */

/* img card */
.card-img-size{
  width: 100%;
  height: auto;
}
/* img card */

/* img show */
#headerShow{
  min-height: 100vh;
}

.bgShow{
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

/* image profile */
.commentProfile{
width: 50px;
height: auto;
}
/* image profile */
