{% extends 'base.html.twig' %}

{% block title %}New TrickGroup{% endblock %}

{% block body %}
    <h1>Create new TrickGroup</h1>

    {{ include('trick_group/_edit.html.twig') }}

    <a href="{{ path('trick_group_index') }}">back to list</a>
{% endblock %}
