<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}snowtricks{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Oxygen&family=Quicksand&display=swap" rel="stylesheet"> 

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
        
        <!-- Core theme CSS -->
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100 pb-4">

    <navbar>
    <div class="d-none d-sm-block">
        {% include 'partials/navbar.html.twig' %}
    </div>
    </navbar>

    <header>
        <div class="container-fluid">
            {% block header %}{% endblock %}
        </div>
    </header>
        
    <section>
        <div class="container p-3">
            {% block body %}{% endblock %}
        </div>
    </section>

    <footer class="mt-auto p-3">
        <div class="d-block d-sm-none">
            {% include 'partials/navbar-footer.html.twig' %}
        </div>
    </footer>
    

        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="{{ asset('assets/mail/jqBootstrapValidation.js') }}"></script>
        <script src="{{ asset('assets/mail/contact_me.js') }}"></script>
        <!-- Core theme JS-->
        <script src="{{ asset('js/scripts.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
