<div class="container-fluid">

	{% for message in app.flashes('success') %}
		<div class="row">
			<div class="col-12 alert alert-success text-center">
				{{ message }}
			</div>
		</div>
	{% endfor %}

	<div class="row" id="headerFront">
		<div class="d-flex flex-column flex-padding">
			<div class=" mb-auto">
				<img class="img-fluid positionHeader" src="{{ asset("/images/bgDefault.jpg") }}" alt="Responsive image">
			</div>

			<div class="d-none d-md-block text-center">
				<h1 class="title-font display-5 ">Votre plateforme communautaire de snowboarding Snowtricks</h1>
			</div>
			<div class="d-md-none text-center">
				<h5 class="title-font display-5 ">Votre plateforme communautaire de snowboarding Snowtricks</h5>
			</div>
			<div class=" d-none d-md-block mt-auto text-right">
				<a href="#cardTrick">
					<i class="fas fa-arrow-down fa-5x"></i>
				</a>
			</div>

			<div class="d-md-none mt-auto text-right">
				<a href="#cardTrick">
					<i class="fas fa-arrow-down fa-3x"></i>
				</a>
			</div>
		</div>
	</div>
</div>

