{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block header %}
	<div class="container text-center">

		<div class="text-center">
			<h1>Create new Trick</h1>
		</div>
		{% if app.session.flashbag.peek('failed')|length > 0 %}

			{% for message in app.flashes('failed') %}
				<div class="col-12 alert alert-danger text-center">
					{{ message }}
				</div>
			{% endfor %}

		{% endif %}
		<div class="text-right">
			<a href="{{ path('front_index') }}">back</a>
		</div>
	</div>


{% endblock %}

{% block section %}
	{{ include('trick/_form.html.twig') }}
{% endblock %}

